@page
@model CodeGolf.Web.Pages.AttemptModel

@{
    ViewData["Title"] = "Attempt";
}

<section class="section is-fluid">
    <h1 class="title">Attempt</h1>
    <figure class="image is-48x48">
        <img src="@Model.Code.Avatar" />
    </figure>
    <span>
        @Model.Code.LoginName @Model.Code.Score @Model.Code.TimeStamp
    </span>
    <textarea class="textarea" id="Code" rows="20" cols="50">@Model.Code.Code</textarea>
</section>

@section Scripts {
    <partial name="~/Partials/EditorScripts.cshtml" />
}