@page
@using CodeGolf.Service.Dtos
@using Microsoft.AspNetCore.Html
@model CodeGolf.Web.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";

    Func<int, IHtmlContent> None =
    @<span>
    </span>;

Func<HoleDto, IHtmlContent> Success =
@<div class="field is-grouped is-grouped-multiline">
    <div class="control">
        <div class="tags has-addons">
            <span class="tag is-dark">start</span>
            <span class="tag is-success">@item.Start</span>
        </div>
    </div>

    <div class="control">
        <div class="tags has-addons">
            <span class="tag is-dark">end</span>
            <span class="tag is-info">@item.End</span>
        </div>
    </div>
</div>;
}
<section class="section">
    <div>
        <form asp-page-handler="NextHole" method="post">
            <div class="field">
                <div class="control">
                    <button class="button">Next Hole</button>
                </div>
            </div>
        </form>
    </div>
    @Model.CurrentChallenge.Match(Success, () => None(42))

    <vc:challenge-view cs="@Model.CurrentChallenge.Map(a => a.Hole.ChallengeSet)" />
    <vc:attempts-view cs="@Model.CurrentChallenge.Map(a => a.Attempts)" />
</section>